
@using POR.Models
@model IEnumerable<POR.Models.Married._CivilStatus>

@{
    ViewBag.Title = "IndividualMarriedDetails";
 }
<div class="content-wrapper" style="height:900px !important;">
    <section class="content-header">
        <h1 style="margin-left:16px">
            Flow Details
            <small>View</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Search Marriage</li>
        </ol>
        <div id="ErrorMessage">
            @if (TempData["ScfMsg"] != null)
            {
                <div id="Msg" class="col-lg-12  alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Alert! </strong> @TempData["ScfMsg"]
                </div>
            }
            else if (TempData["ErrMsg"] != null)
            {
                <div id="Msg" class="col-lg-12 alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Alert! </strong>@TempData["ErrMsg"]
                </div>

            }
        </div>
    </section>
    <section class="col-lg12 connectedSortable" style="margin-top:5px">
        <div class="col-lg-12">
            <div class="nav-tabs-custom">
                <br />
                <dl class="dl-horizontal">

                    @foreach (var item in Model)
                    {
                        //Service No :
                        <dt class="form-group">
                            Service No :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.ServiceNo)
                        </dd>

                        //Rank :
                        <dt class="form-group">
                            Rank :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Rank)
                        </dd>

                        // Name with Initials :
                        <dt class="form-group">
                            Name with Initials :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Name)
                        </dd>

                        //Establishment :
                        <dt class="form-group">
                            Establishment :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Location)
                        </dd>

                        //Authority :
                        <dt class="form-group">
                            Authority :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Authority)
                        </dd>

                        //Ref No :
                        <dt class="form-group">
                            Ref No :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.RefNo)
                        </dd>

                        //Record Update Date:
                        <dt class="form-group">
                            Record Update Date:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.RecordCreatedDate)
                        </dd>

                        //Category Name :
                        <dt class="form-group">
                            Category Name :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.CategoryName)
                        </dd>

                        //Comment :
                        <dt class="form-group">
                            Comment :
                        </dt>

                        int? RecordStatusID = Convert.ToInt32(item.RSID);

                        if (RecordStatusID == 3000)
                        {
                            <dd style="color:#FF0000">
                                @Html.DisplayFor(model => item.Comment)
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.DisplayFor(model => item.Comment)
                            </dd>
                        }
                        //Current Status  :
                        <dt class="form-group">
                            Current Status  :
                        </dt>

                        if (RecordStatusID == (int)POR.Enum.RecordStatus.Reject)
                        {
                            <dd style="color:#FF0000">
                                @Html.DisplayFor(model => item.UserRole)  - Reject POR
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.DisplayFor(model => item.UserRole)
                            </dd>
                        }

                        string CivilStatusCode = TempData["CivilStatusCode"].ToString();

                        switch (CivilStatusCode)
                        {
                            case "AJ-1":
                                //MarriageDate
                                <dt class="form-group">
                                    Marriage Date :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.MarriageDate)
                                </dd>

                                //RegistarOfficeLocation
                                <dt class="form-group">
                                    Registar Office Location :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.RegistarOfficeLocation)
                                </dd>

                                //MarriageCertificateNo
                                <dt class="form-group">
                                    Marriage Certificate No :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.MarriageCertificateNo)
                                </dd>

                                //WEFDate
                                <dt class="form-group">
                                    With Effect Date :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.WEFDate)
                                </dd>
                                break;
                            case "AJ-2":
                            case "AJ-4":
                                //DivorceDate
                                <dt class="form-group">
                                    Divorce Date :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.DivorceDate)
                                </dd>

                                //DivorceLocation
                                <dt class="form-group">
                                    Divorce Location :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.DivorceLocation)
                                </dd>

                                //CourtCaseNo
                                <dt class="form-group">
                                    Court Case No :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.MarriageCertificateNo)
                                </dd>

                                //DivorceCaseDate
                                <dt class="form-group">
                                    Divorce Case Date :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.DivorceCaseDate)
                                </dd>

                                break;
                            case "AJ-3":

                                //DeathCertificateNo
                                <dt class="form-group">
                                    Death Certificate No :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.DeathCertificateNo)
                                </dd>

                                //DateofDecease
                                <dt class="form-group">
                                    Date of Decease :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => item.DateofDecease)
                                </dd>
                                break;
                            default:
                                break;
                        }

                        //NOKName :
                        <dt class="form-group">
                            NOK Name:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.NOKName)
                        </dd>

                        //NOKChangeTo:
                        <dt class="form-group">
                            Relationship :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.NOKChangeTo)
                        </dd>

                        //NOKaddress:
                        <dt class="form-group">
                            NOK Address :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.NOKaddress)
                        </dd>

                        //District1:
                        <dt class="form-group">
                            District :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.District1)
                        </dd>

                        //GSName:
                        <dt class="form-group">
                            GS Name :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.GSName)
                        </dd>

                        //NearestTown:
                        <dt class="form-group">
                            Nearest Town :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.NearestTown)
                        </dd>

                        //PoliceStation1:
                        <dt class="form-group">
                            Police Station :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.PoliceStation1)
                        </dd>

                        //PostOfficeName:
                        <dt class="form-group">
                            Post Office Name :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.PostOfficeName)
                        </dd>

                    }
         </dl>
            </div>           
        </div>

        <div class="col-lg-8">
            @Html.ActionLink("Back to List", "IndividualSearchMarried", "Married",  new { @class = "btn btn-info" })
        </div>       
    </section>
</div>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>




<div id="dialog" style="display: none; position:relative;">
</div>

<script type="text/javascript">
    $(function () {
        $('#btnReject').click(function () {
            var FADID = $("#hndFADID").val();
            var FMSID = $("#hndFMSID").val();
            var route = '@Url.Action("Reject", "Leave")?LHID=' + LHID + '&FMSID=' + FMSID;
            $('#partial2').load(route);
        });
    });
</script>
