@model POR.Models.FixedAllowanceDetail

@{
    ViewBag.Title = "CRT";
}

<h2>CRT</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="height:800px !important;">
        <h4>FixedAllowanceDetail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceCategoryId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceCategoryId)
                @Html.ValidationMessageFor(model => model.ServiceCategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowanceCategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowanceCategoryID)
                @Html.ValidationMessageFor(model => model.AllowanceCategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RankId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RankId)
                @Html.ValidationMessageFor(model => model.RankId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceType)
                @Html.ValidationMessageFor(model => model.ServiceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sno)
                @Html.ValidationMessageFor(model => model.Sno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EffectiveDate)
                @Html.ValidationMessageFor(model => model.EffectiveDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remark)
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
