@using POR.Models
@model IEnumerable<POR.Models.LivingInOut._GSQHeader>

@{
    ViewBag.Title = "IndividualGSQDetails";
}
<div class="content-wrapper" style="height:900px !important;">
    <section class="content-header">
        <h1 style="margin-left:16px">
            Flow Details
            <small>View</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">GSQ Details</li>
        </ol>
        <div id="ErrorMessage">
            @if (TempData["ScfMsg"] != null)
            {
                <div id="Msg" class="col-lg-12  alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Alert! </strong> @TempData["ScfMsg"]
                </div>
            }
            else if (TempData["ErrMsg"] != null)
            {
                <div id="Msg" class="col-lg-12 alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Alert! </strong>@TempData["ErrMsg"]
                </div>

            }
        </div>
    </section>
    <section class="col-lg-8 connectedSortable" style="margin-top:5px">
        <div class="col-lg-8">
            <div class="nav-tabs-custom">
                <br />
                <dl class="dl-horizontal">

                    @foreach (var item in Model)
                    {

                        @*ServiceNo*@
                        <dt class="form-group">
                            Service No :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.ServiceNo)
                        </dd>

                        @*Rank*@
                        <dt class="form-group">
                            Rank :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.Rank)
                        </dd>

                        @*Name*@
                        <dt class="form-group">
                            Name with Initials :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.Name)
                        </dd>

                        @*GSQLocation*@
                        <dt class="form-group">
                            Establishment :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.GSQLocation)
                        </dd>

                        @*Reference No :*@
                        <dt class="form-group">
                            Reference No :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.RefNo)
                        </dd>

                        @*GSQStatusName*@
                        <dt class="form-group">
                            GSQ Status :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.GSQStatusName)
                        </dd>

                        @*AllocatedDate*@
                        <dt class="form-group">
                            Allocated Date :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.AllocatedDate)
                        </dd>

                        @*VacantDate*@
                        <dt class="form-group">
                            VacantDate Date :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.VacantDate)
                        </dd>


                        int? RecordStatusID = Convert.ToInt32(TempData["RecordStatusID"]);

                        if (RecordStatusID == (int)POR.Enum.RecordStatus.Reject)
                        {
                            <dt class="form-group">
                                Reason for Reject :
                            </dt>
                            <dd style="color:#FF0000">
                                @Html.DisplayFor(model => item.Comment)
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.DisplayFor(model => item.Comment)
                            </dd>
                        }

                    }
                    
                    
                    @*<dt class="form-group">
                        Status :
                    </dt>

                    @{

                        if (RecordStatusID == 3000)
                        {
                            <dd style="color:#FF0000">
                                @Html.DisplayFor(model => model.RoleName)  - Reject POR
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.DisplayFor(model => model.RoleName)
                            </dd>
                        }
                    }*@

                </dl>
            </div>
        </div>

        <div class="col-lg-8">
            @Html.ActionLink("Back to List", "IndividualSearchGSQ", "GSQHeader", new { @class = "btn btn-info" })
        </div>

        <div class="col-lg-2" style="padding-top: 100px; padding-bottom: 270px; font-size: 20px; ">

            @*@{
                string UserRole;
                string Rdate;
                if (TempData["RejectUserRole"] != null && TempData["RejectDate"] != null)
                {
                    UserRole = TempData["RejectUserRole"].ToString();
                    Rdate = TempData["RejectDate"].ToString();
                    <div class="alert alert-error">
                        <span>@UserRole Rejected</span> <br />
                        <span>Date : @Rdate</span><br />
                        <span>Comment : @Html.DisplayFor(model => model.Comment)</span>
                    </div>
                }
            }*@
        </div>
    </section>
</div>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>




<div id="dialog" style="display: none; position:relative;">
</div>

<script type="text/javascript">
    $(function () {
        $('#btnReject').click(function () {
            var FADID = $("#hndFADID").val();
            var FMSID = $("#hndFMSID").val();
            var route = '@Url.Action("Reject", "Leave")?LHID=' + LHID + '&FMSID=' + FMSID;
            $('#partial2').load(route);
        });
    });
</script>
