
@model PagedList.IPagedList<POR.Models.LivingInOut._LivingInOut>
@using PagedList.Mvc;
<link href="~/Content/CustomeStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "IndividualSearchLivingInOut";
}
<div class="content-wrapper" style="height:900px !important;">
    <section class="content-header">
        <h1>
            Living IN/Out List (P2)
            <small>View Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Living IN/Out List</li>
        </ol>
        <div id="ErrorMessage" class="ErrorMegWrapper">
            @if (TempData["ScfMsg"] != null)
            {
                <div id="Msg" class="col-lg-12  alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Alert!</strong> @TempData["ScfMsg"]
                </div>
            }
            else if (TempData["ErrMsg"] != null)
            {
                <div id="Msg" class="col-lg-12 alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Alert!</strong>@TempData["ErrMsg"]
                </div>

            }
        </div>
    </section>

    <section class="col-lg-12 connectedSortable">
        <div class="nav-tabs-custom DetailsContentArea">
            @Html.ValidationSummary(true)

            <div class="box-body">
                @using (Html.BeginForm("IndividualSearchLivingInOutP2", "P2LivingInOut", FormMethod.Get))
                {
                    int userRole = Convert.ToInt32(TempData["UserRole"]);
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        @if (userRole == (int)POR.Enum.UserRole.P2CLERK || userRole == (int)POR.Enum.UserRole.P2SNCO || userRole == (int)POR.Enum.UserRole.P2OIC)
                        {

                        }
                        else
                        {

                            @*<div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="col-lg-4 btn btn-warning pull-right" id="btnYes" style="height:30px;width:180px" onclick="location.href='@Url.Action("AdvancedSearchLivingInP2", "P2LivingInOut")'">
                                            <span class="info-box-text"><i class=" fa fa fa-search"></i> Advanced Search</span>
                                        </button>
                                    </div>
                                </div>
                            </div>*@

                        }
                    </div>

                }
                <table id="example" class="table table-responsive table-striped table-hover">

                    <tr>
                        <th>
                            @Html.ActionLink("Service No", "P2LivingInOut", "IndividualSearchLivingInOutP2", new { sortOrder = "ServiceNo" }, null)
                        </th>
                        <th>
                            @Html.ActionLink("Rank", "P2LivingInOut", "IndividualSearchLivingInOutP2", new { sortOrder = "Rank" }, null)
                        </th>
                        <th>
                            @Html.ActionLink("Name With Initials", "P2LivingInOut", "IndividualSearchLivingInOutP2", new { sortOrder = "Name" }, null)
                        </th>
                        <th>
                            @Html.ActionLink("Category Name", "P2LivingInOut", "IndividualSearchLivingInOutP2", new { sortOrder = "CategoryName" }, null)
                        </th>
                        <th>
                            @Html.ActionLink("POR No", "P2LivingInOut", "IndividualSearchLivingInOutP2", new { sortOrder = "Authority" }, null)
                        </th>
                        <th>
                            @Html.ActionLink("Location", "P2LivingInOut", "IndividualSearchLivingInOutP2", new { sortOrder = "Authority" }, null)
                        </th>
                        <th>
                            @Html.ActionLink("Status", "P2LivingInOut", "IndividualSearchLivingInOutP2", new { sortOrder = "RoleName" }, null)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Snumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rank)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserRole)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "IndividuaLivingDetailsP2", new { id = item.LIOHID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </table>
                <br />
                @*Paging for Data Table *use only MVC no Javascript*@
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("IndividualSearchLivingInOutP2",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </section>
</div>

@Scripts.Render("~/bundles/jquery")








