@model POR.Models.SecondaryDuty._SecondaryDuty

<script src="~/Scripts/Jq.js"></script>
<script src="~/Scripts/SecDuty.js"></script>
@{
    ViewBag.Title = "RegiMakeInfo";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper">

        <section class="content-header">

            <h1 style="text-align:center"><span>Add Camp Secondary Duty</span></h1>

            <div id="ErrorMessage">
                @if (TempData["ScfMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12  alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong> @TempData["ScfMsg"]
                    </div>
                }
                else if (TempData["ErrMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12 alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong>@TempData["ErrMsg"]
                    </div>
                }
            </div>

        </section>

        <br />

        <section class="col-lg-12 connectedSortable">
            <div class="nav-tabs-custom" style="height:695px">
                @Html.ValidationSummary(true)
                <div class="box-body">
                    @*Service Number*@
                    <div class="form-group">
                        <div class="col-lg-6">
                            @Html.Label("Service Number", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Snumber, new { @class = "form-control ", autocomplete = "off" })
                            @Html.HiddenFor(model => model.ServiceNo, new { @class = "form-control ", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Snumber, string.Empty, new { @class = "label label-danger" })
                        </div>

                        <div class="col-lg-6">
                            @Html.Label("Rank", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Rank, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                        </div>

                    </div>

                    @*Name*@
                    <div class="form-group">
                        <div class="col-lg-12" style="margin-top:12px">
                            @Html.Label("Name", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FullName, string.Empty, new { @class = "label label-danger" })

                        </div>
                    </div>

                    @*Branch/Trade/Civil Status*@
                    <div class="form-group">
                        <div class="col-lg-6" style="margin-top:12px">
                            @Html.Label("Branch/Trade", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Trade, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                        </div>
                        @*<div class="col-lg-6" style="margin-top:12px">
                            @Html.Label("Civil Status", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Marriage_Status, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Marriage_Status, string.Empty, new { @class = "label label-danger" })
                        </div>*@
                    </div>

                    @*Authority*@
                    <div class="form-group">
                        <div class="col-lg-12" style="margin-top:12px">
                            @Html.Label("Authority", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Authority, new { @class = "form-control ", autocomplete = "off", placeholder = "" })
                            @Html.ValidationMessageFor(model => model.Authority, string.Empty, new { @class = "label label-danger" })
                        </div>

                    </div>
                    @*Ares*@
                    <div class="form-group">
                        @*<div class="col-lg-12" style="margin-top:12px">
                            @Html.Label("Area for responsibility ", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.AreaforResponsibility, new { @class = "form-control ", autocomplete = "off", placeholder = "" })
                            @Html.ValidationMessageFor(model => model.AreaforResponsibility, string.Empty, new { @class = "label label-danger" })
                        </div>*@
                        <div class="col-lg-12" style="margin-top: 11px">
                            @Html.Label("Area for responsibility", new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.AreaforResponsibility, ViewBag.DDL_SDutyLocation as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AreaforResponsibility, string.Empty, new { @class = "label label-danger" })
                        </div>

                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12" style="margin-top:12px">
                            @Html.Label("Appointment ", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Appointment, new { @class = "form-control ", autocomplete = "off", placeholder = "" })
                            @Html.ValidationMessageFor(model => model.Appointment, string.Empty, new { @class = "label label-danger" })
                        </div>

                    </div>*@
                   
                    
                    <div class="col-lg-12" style="margin-top: 11px">
                        @Html.Label("Appointment", new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Appointment, ViewBag.DDL_SDutyAppointment as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Appointment, string.Empty, new { @class = "label label-danger" })
                    </div>
                   
                    @*Select Duty Status*@
                    <div class="col-lg-12" style="margin-top: 11px">
                        @Html.Label("Duty Status", new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.SDSID, ViewBag.DDL_SDutyCategories as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SDSID, string.Empty, new { @class = "label label-danger" })
                    </div>

                    @*From Date/To Date for period section*@
                    
                    <div class="form-group" id="dvdatePeriod">
                        
                        <div class="form-group"> 
                                       
                            <div class="col-lg-6">
                                 
                                @Html.Label("Taking Over Service Number", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Snumber2, new { @class = "form-control ", autocomplete = "off" })
                                @Html.HiddenFor(model => model.Snumber2, new { @class = "form-control ", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Snumber2, string.Empty, new { @class = "label label-danger" })
                            </div>

                            <div class="col-lg-6">
                                @Html.Label("Rank", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Rank2, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                            </div>

                        </div>

                        @*Name*@
                        <div class="form-group">
                            <div class="col-lg-12" style="margin-top:12px">
                                @Html.Label("Name", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.FullName2, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.FullName, string.Empty, new { @class = "label label-danger" })

                            </div>
                        </div>

                        @*Branch/Trade/Civil Status*@
                        <div class="form-group">
                            <div class="col-lg-6" style="margin-top:12px">
                                @Html.Label("Branch/Trade", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Trade2, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                            </div>
                    
                        </div>

                        <div class="col-lg-6" style="margin-top:12px">
                            @Html.Label("With Effect Date", new { @class = "control-label" })
                            <input id="searchDate" type="date" name="FromDate" class="form-control" />
                            @*@Html.TextBoxFor(model => model.FromDate, new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.FromDate, string.Empty, new { @class = "label label-danger" })*@

                        </div>

                        <div class="col-lg-6" style="margin-top:12px">

                            @Html.Label("Remark", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control ", autocomplete = "off" })
                            @Html.HiddenFor(model => model.Remarks, new { @class = "form-control ", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Snumber2, string.Empty, new { @class = "label label-danger" })
                        </div>

                    </div>

                    @*with effect date*@

                    <div class="form-group" id="dvWithEffctDate">
                        <div class="col-lg-12" style="margin-top:12px">
                            @Html.Label("With Effective Date", new { @class = "control-label" })
                            <input id="searchDate" type="date" name="WEDate" class="form-control" />
                            @*@Html.TextBoxFor(model => model.FromDate, new { @class = "form-control datepicker" })
                              @Html.ValidationMessageFor(model => model.FromDate, string.Empty, new { @class = "label label-danger" })*@
                        </div>
                    </div>

                    @*NOK Button Area*@
                    <div class="nav-tabs-custom col-lg-12" style="margin-left:5px;height:45px;margin-top:20px" id="dvNokShowArea">

                        <h5 class="text-black" style="float:left"><b>Select NOK Change Status</b></h5>

                        <section class="col-lg-6" style="margin-top: 9px">
                            <div class="col-lg-6">
                                <input type="button" value="Yes" class="btn btn btn-info" style="width:43px; height:30px" id="btnYes" name="btnName" />
                            </div>
                            <div class="col-lg-6">
                                <input type="submit" value="No" class="btn btn btn-warning" style="width:43px;height:30px" id="btnNo" name="btnName" />
                            </div>
                        </section>
                    </div>

                    @*Submit area Button.*@
                    <div class="nav-tabs-custom col-lg-12" style="margin-left:5px;height:45px;margin-top:20px" id="dvNormalSaveArea">
                        <h5 class="text-black" style="float:left"><b>Save Your Details</b></h5>

                        <section class="col-lg-6" style="margin-top: 9px">

                            <div class="col-lg-12 pull-right">
                                <input type="submit" value="Save Details" class="btn btn btn-success pull-right" name="btnName" />
                            </div>
                        </section>
                    </div>


                    <div id="warnningDv">
                        <section class="col-lg-12 alert alert-danger" style="margin-left:15px;margin-top:10px">
                            <div class="form-group">
                                <div>
                                    <p style="font-size:15px;text-align:center">
                                        <b>
                                            This is not a valied request. Need to authorized Married POR first.
                                        </b>
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="card-body d-flex flex-column">
                        <section class="col-lg-12" style="margin-top:30px">
                            <button type="button" class="col-lg- btn btn-warning pull-right" id="btnYes" style="height:40px;width:200px" onclick="location.href='@Url.Action("Index", "SecondaryDuty")'">
                                <span class="info-box-text"><i class=" fa fa-hand-o-left"></i> Go to Pending List</span>
                            </button>
                            <button type="button" class="col-lg- btn btn-info" style="height:40px;width:140px" onclick="location.href='@Url.Action("ClearFileds", "SecondaryDuty")'">
                                <span class="info-box-text"><i class=" fa fa-remove"></i>Clear Fileds</span>
                            </button>
                        </section>

                    </div>

                </div>
            </div>
        </section>

        

       

    </div>
}
