@model POR.Models.Vw_Leave

@using (Html.BeginForm("Index_Reject", "Leave"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        <div class="form-group col-md-12">
            @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Comment, string.Empty, new { @class = "label label-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save Comments" class="btn btn-primary" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.LHID)
    @Html.HiddenFor(model => model.FMSID)
}
@Scripts.Render("~/bundles/jquery")